<footer class="footer">
  <p>Peer Evaluation App by The Segmentation Faults Team</p>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>

    </ul>
  </nav>
</footer>
