<% provide(:title, "About") %>
<div class="center">
  <h1>About Us</h1>

  <div class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">The Segmentation Faults</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">A group of kids who came together to make peer evaluations easier for students and instructors across Ohio State.</div>
      </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Daniel Martinus</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">A teammate who comes all the way from Chicago and loves the Cubs. Had one objective in mind for this project and that was to make Peer Evaluations easier!</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Hoamin Gui</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">The creative man himself who came up with our team name. But does his creativity stop there? No sir! By the time you have finished your morning coffee Hoamin has probably already coded 4 robots to make his coffee! A true visionary unlike anyone ever seen before him!</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Jarvis Huang</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">The guy who puts the S in Superman. What Superman does to villains, Jarvis does to coding errors!</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Basel Rahmen</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">This mans github name is hackatron but it really should be MEGATRON. This guy crushes code just like the 2 ton villain from outerspace!</div>
        </div>
      </div>
    </div>
  </div>

</div>
