<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Peer Evaluation</h1>

  <h2>
    Check your profile to see if you have have any pending evals or to look at your previous evaluations!
  </h2>
  <p>
  </p>
  
</div>


